.modal--container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semi oscuro */
    z-index: 20;
    align-items: center;
    justify-content: center;
}
.modal--dialog h3,.modal--dialog p{
    color: hsl(180, 4%, 12%);
}
/* Estilos del modal */
.modal--dialog {
    display: grid;
    max-height: calc(80vh - 40px);
    box-sizing: border-box !important;
    position: fixed;
    grid-template-columns: 1fr; /* Un única columna */
    grid-template-rows: auto auto auto; /* Tres filas para los diferentes elementos */
    gap: 10px; /* Espacio entre las filas */
    padding: 20px;
    top: 50%;
    left: 50%;
    width: 90%; /* Ancho máximo del 90% del viewport */
    max-width: 540px;
    overflow: auto;
    background: var(--white-color);
    transform: translate(-50%, -50%);
    z-index: 20;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    
}

.modal-close {
    position: absolute;
    display: block;
    text-transform: none;
    border: none;
    font-size: 25px;
    margin: 0;
    top: 20px;
    right: 20px;
    line-height: 0;
    opacity: .5;
    transition: opacity .2s ease-in-out;
    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
}

.modal__header {
}

.modal__title {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .3px;
}

.modal__content__compra {
    grid-row: 2; /* Segunda fila */
}

.product-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Columnas autoajustables */
    gap: 10px; /* Espacio entre las columnas */
}

.product-image {
    padding: 0;
    align-items: center;
    justify-content: center;
}

.product-image img {
    max-width: 200px;
    width: 100%;
}

.product-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.modal-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-dialog {
    flex-basis: 48%; /* Ancho de los botones */
    margin-top: 20px;
}

.btn-primary {
    background-color: var(--acent-color);
    font-family: var(--body-font);
    width: 100%;
    color: #fff;
    border: none;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary:hover{
background-color: #6b88a1;
}
.btn-secondary {
    background-color: var(--dark-color-light);
    width: 100%;
    color: #fff;
    border: none;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-secondary:hover{
    background-color: #6b88a1;
}