body{
    background-color: var(--background);
}
/*=============== TITULO ===============*/
.title--category {
    display: flex;
    padding-block: 160px 0;
    align-content: center;
    justify-content: center;
}
.filter--products{
    display: flex;
    box-shadow: 1px 1px #cbcbcb,-1px -1px #cbcbcb;
    justify-content: space-between;
}
.layout--grid{
    display: flex;
}
.content--filter{
    border: none;
    border-radius: 0;
    padding: 18px 0;
}

.btn-filter{
    color: var(--dark-color);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    overflow: visible;
    padding: 0 45px;
    cursor: pointer;
}
.content-btn{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    box-shadow: 1px 1px #cbcbcb,-1px -1px #cbcbcb;
}
.layout--grid{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.layout--grid{
    padding-left: 10px;
}
.grid-2,.grid-3{
    display: flex;
    color: var(--dark-color);
}
.grid-2{
    font-size: 25px;
}
.grid-3{
    font-size: 30px;
}
.content--title--category {
    display: flex;
    height: 5rem;
    align-items: center;
}

.h3--title--category {
    font-size: var(--h2-font-size);
    font-weight: 300;
    color: var(--dark-color);
}

/*=============== CARD ===============*/
.container--card {
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.card__container {
    margin-inline: 30px;
    padding-block: 1rem;
}

.card__content {
    padding: 0 20px;
    overflow: hidden;
}

.swiper-wrapper {
    display: grid;
    gap: 20px;
}

/* Para pantallas grandes, muestra cuatro columnas */
@media screen and (min-width: 1024px) {
    .swiper-wrapper {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
}

@media screen and (max-width: 1200px) {
    .title--category{
        padding-block: 60px 0;
    }
}
/* Para pantallas medianas, muestra tres columnas */
@media screen and (max-width: 1075px) {
    .swiper-wrapper {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}

/* Para pantallas pequeñas, muestra dos columnas */
@media screen and (max-width: 790px) {
    .swiper-wrapper {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

/* Para pantallas pequeñas, muestra dos columnas */
@media screen and (max-width: 590px) {
    .swiper-wrapper {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }

}

.card__article {
    display: flex;
    width: 300px;
    flex-direction: column;
    /* Remove after adding swiper js */
    border-radius: 1.25rem;
    overflow: hidden;
    transition: 400ms ease all;
    align-items: center;
    justify-content: center;
}


.card__image {
    position: relative;
    max-width: 100%;
    height: auto;
    background-color: var(--first-color-light);
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
}

.card__data {
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.card__img {
    width: 250px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.card__shadow {
    width: 200px;
    height: 200px;
    background-color: var(--first-color-alt);
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
}

.card__price {
    font-size: var(--h2-font-size);
    color: var(--acent-color);
    margin-bottom: .75rem;
}

.card__description {
    color: var(--dark-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    margin-bottom: 1.75rem;
    display: inline-block;
    text-align: initial;
}

.card__button {
    display: inline-block;
    border: 1px solid var(--dark-color);
    padding: .75rem 1rem;
    border-radius: .25rem;
    color: var(--dark-color);
    font-weight: 600;
    transition: 300ms ease all;
}

.card__button:hover {
    background-color: var(--dark-color);
    color: var(--white-color);
}

/* Estilos de la ventana emergente de filtros */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
    z-index: 999; /* Encima de la ventana emergente */
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Desactiva el desplazamiento de fondo */
}
.drawer {
    position: relative;
    max-width: 400px;
    height: 100%;
    color: var(--dark-color);
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
}

.drawer-header {
    background-color: var(--white-color);
    text-transform: uppercase;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer-title {
    font-size: 1.2rem;
}

.drawer-close {
    background: none;
    border: none;
    color: var(--dark-color);
    cursor: pointer;
    font-size: 1.5rem;
}

.drawer-content {
    padding: 20px;
}

.filter-category {
    list-style: none;
    padding: 0;
}

.filter-item {
    margin-bottom: 20px;
}
.filter-item label{
    font-weight: 600;
}
.filter-values {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.filter-values li {
    margin: 5px 0;
}
.filter-values li input{
    margin-right: 10px;
}
.price-range {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price-range-input {
    width: 80%;
    margin: 10px 0;
}

/* Estilos de rango de precio */
#price-range-value {
    font-weight: bold;
}
.content--button{
    display: flex;
    justify-content: center;
}
.apply-button{
    padding: 14px 28px;
    width: 100%;
    background-color: var(--button-background);
    color: var(--background);
    border-color: var(--button-background);
    border: 1px solid transparent;
    text-transform: uppercase;
    letter-spacing: .2em;
    display: block;
    margin-top: 20px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

/* Estilos para hacerlo responsive */
@media screen and (max-width: 600px) {
    .drawer {
        max-width: 100%;
    }
}